---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import CustomerEntry2 from "@/components/customers/CustomerEntry2.astro";
// Content
import { getCollection } from "astro:content";
const allCustomers = (await getCollection("customers")).sort((a, b) =>
  a.data.customer.localeCompare(b.data.customer)
);
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pt-48 pb-8 lg:pt-82">
      <Text tag="h1" variant="displayLG" class="text-base-800 text-balance">
        Real Customers. Real Results. Because hype doesn’t pay the bills.
      </Text>
      <div class="mt-12 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
        {allCustomers.map((post) => <CustomerEntry2 post={post} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
