---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import { getCollection } from "astro:content";
import HelpCenterEntry from "@/components/helpcenter/HelpCenterEntry.astro";
const allHelp = await getCollection("helpcenter");
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pt-48 pb-8 lg:pt-82">
      <Text
        tag="h1"
        variant="displayLG"
        class="max-w-xl text-base-800 text-balance"
      >
        Latest news
      </Text>

      <div class="flex flex-col pt-8 mt-8 border-t border-base-200 gap-8">
        {allHelp.map((post) => <HelpCenterEntry post={post} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
