---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Array
const colors = [
  {
    title: "Yellow",
    items: [
      { name: "Yellow 50", colorClass: "bg-yellow-50" },
      { name: "Yellow 100", colorClass: "bg-yellow-100" },
      { name: "Yellow 200", colorClass: "bg-yellow-200" },
      { name: "Yellow 300", colorClass: "bg-yellow-300" },
      { name: "Yellow 400", colorClass: "bg-yellow-400" },
      { name: "Yellow 500", colorClass: "bg-yellow-500" },
      { name: "Yellow 600", colorClass: "bg-yellow-600" },
      { name: "Yellow 700", colorClass: "bg-yellow-700" },
      { name: "Yellow 800", colorClass: "bg-yellow-800" },
      { name: "Yellow 900", colorClass: "bg-yellow-900" },
      { name: "Yellow 950", colorClass: "bg-yellow-950" },
    ],
  },
  {
    title: "Purple",
    items: [
      { name: "Purple 50", colorClass: "bg-purple-50" },
      { name: "Purple 100", colorClass: "bg-purple-100" },
      { name: "Purple 200", colorClass: "bg-purple-200" },
      { name: "Purple 300", colorClass: "bg-purple-300" },
      { name: "Purple 400", colorClass: "bg-purple-400" },
      { name: "Purple 500", colorClass: "bg-purple-500" },
      { name: "Purple 600", colorClass: "bg-purple-600" },
      { name: "Purple 700", colorClass: "bg-purple-700" },
      { name: "Purple 800", colorClass: "bg-purple-800" },
      { name: "Purple 900", colorClass: "bg-purple-900" },
      { name: "Purple 950", colorClass: "bg-purple-950" },
    ],
  },
  {
    title: "Green",
    items: [
      { name: "Green 50", colorClass: "bg-green-50" },
      { name: "Green 100", colorClass: "bg-green-100" },
      { name: "Green 200", colorClass: "bg-green-200" },
      { name: "Green 300", colorClass: "bg-green-300" },
      { name: "Green 400", colorClass: "bg-green-400" },
      { name: "Green 500", colorClass: "bg-green-500" },
      { name: "Green 600", colorClass: "bg-green-600" },
      { name: "Green 700", colorClass: "bg-green-700" },
      { name: "Green 800", colorClass: "bg-green-800" },
      { name: "Green 900", colorClass: "bg-green-900" },
      { name: "Green 950", colorClass: "bg-green-950" },
    ],
  },
  {
    title: "Teal",
    items: [
      { name: "Teal 50", colorClass: "bg-teal-50" },
      { name: "Teal 100", colorClass: "bg-teal-100" },
      { name: "Teal 200", colorClass: "bg-teal-200" },
      { name: "Teal 300", colorClass: "bg-teal-300" },
      { name: "Teal 400", colorClass: "bg-teal-400" },
      { name: "Teal 500", colorClass: "bg-teal-500" },
      { name: "Teal 600", colorClass: "bg-teal-600" },
      { name: "Teal 700", colorClass: "bg-teal-700" },
      { name: "Teal 800", colorClass: "bg-teal-800" },
      { name: "Teal 900", colorClass: "bg-teal-900" },
      { name: "Teal 950", colorClass: "bg-teal-950" },
    ],
  },
  {
    title: "Blue",
    items: [
      { name: "Blue 50", colorClass: "bg-blue-50" },
      { name: "Blue 100", colorClass: "bg-blue-100" },
      { name: "Blue 200", colorClass: "bg-blue-200" },
      { name: "Blue 300", colorClass: "bg-blue-300" },
      { name: "Blue 400", colorClass: "bg-blue-400" },
      { name: "Blue 500", colorClass: "bg-blue-500" },
      { name: "Blue 600", colorClass: "bg-blue-600" },
      { name: "Blue 700", colorClass: "bg-blue-700" },
      { name: "Blue 800", colorClass: "bg-blue-800" },
      { name: "Blue 900", colorClass: "bg-blue-900" },
      { name: "Blue 950", colorClass: "bg-blue-950" },
    ],
  },
  {
    title: "Rose",
    items: [
      { name: "Rose 50", colorClass: "bg-rose-50" },
      { name: "Rose 100", colorClass: "bg-rose-100" },
      { name: "Rose 200", colorClass: "bg-rose-200" },
      { name: "Rose 300", colorClass: "bg-rose-300" },
      { name: "Rose 400", colorClass: "bg-rose-400" },
      { name: "Rose 500", colorClass: "bg-rose-500" },
      { name: "Rose 600", colorClass: "bg-rose-600" },
      { name: "Rose 700", colorClass: "bg-rose-700" },
      { name: "Rose 800", colorClass: "bg-rose-800" },
      { name: "Rose 900", colorClass: "bg-rose-900" },
      { name: "Rose 950", colorClass: "bg-rose-950" },
    ],
  },
];

---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pt-48 pb-8">
      <Text
        tag="h1"
        variant="displayLG"
        class="tracking-tight text-base-800 text-balance">Colors</Text
      >

      <div class="mt-2 grid grid-cols-3 md:grid-cols-6 gap-2 text-base-400">
        {
          colors.map((colorGroup) => (
            <div>
              <Text tag="h3" variant="textSM" class="font-mono text-white ">
                {colorGroup.title}
              </Text>
              <div class="mt-8 flex flex-col gap-2 gap-y-4">
                {colorGroup.items.map((item) => (
                  <div class="flex flex-col gap-2">
                    <div
                      class={`p-4 h-12  ${item.colorClass}`}
                    />
                    <span class="text-xs text-base-600">{item.name}</span>
                  </div>
                ))}
              </div>
            </div>
          ))
        }
      </div>
    </Wrapper>
  </section>
</BaseLayout>
