---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const sections = [
  {
    title: "Static",
    categories: [
      {
        category: "Main",
        links: [
          { label: "Home", href: "/landingpages/index-one" },
          { label: "About", href: "/about" },
          { label: "404", href: "/404" },
        ],
      },
      {
        category: "Forms",
        links: [
          { label: "Sign in", href: "/forms/login" },
          { label: "Sign up", href: "/forms/signup" },
          { label: "Book a demo", href: "/forms/book-demo" },
          { label: "Reset Password", href: "/forms/reset" },
        ],
      },
      {
        category: "System",
        links: [
          { label: "Links", href: "/system/links" },
          { label: "Buttons", href: "/system/buttons" },
          { label: "Colors", href: "/system/colors" },
          { label: "Typography", href: "/system/typography" },
        ],
      },
    ],
  },
  {
    title: "Content collections",
    categories: [
      {
        category: "Blog",
        links: [
          { label: "Home", href: "/blog/home" },
          { label: "Post", href: "/blog/posts/1" },
          { label: "Tag Home", href: "/blog/tags" },
          { label: "Tag Details", href: "/blog/tags/business" },
          { label: "RSS", href: "/rss.xml" },
        ],
      },
      {
        category: "Integrations",
        links: [
          { label: "Home", href: "/integrations/home" },
          { label: "Details", href: "/integrations/1" },
        ],
      },
      {
        category: "Customers",
        links: [
          { label: "Home", href: "/customers/home" },
          { label: "Details", href: "/customers/1" },
        ],
      },
      {
        category: "Help Center",
        links: [
          { label: "Home", href: "/helpcenter/home" },
          { label: "details", href: "/helpcenter/1" },
        ],
      },
      {
        category: "Changelog",
        links: [
          { label: "Home", href: "/changelog/home" },
          { label: "Details", href: "/changelog/1" },
        ],
      },
      {
        category: "Team",
        links: [
          { label: "Home", href: "/team/home" },
          { label: "Details", href: "/tram/david-lee" },
        ],
      },
      {
        category: "Legal",
        links: [
          { label: "Terms", href: "/infopages/terms" },
          { label: "Privacy", href: "/infopages/privacy" },
        ],
      },
    ],
  },
];
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pt-48 pb-8">
      <Text
        tag="h1"
        variant="displayLG"
        class="tracking-tight text-base-800 text-balance"
      >
        Overview
      </Text>
      <div class="flex flex-col mt-12 gap-24">
        {
          sections.map((section) => (
            <div>
              <Text tag="h2" variant="textLG" class="font-medium text-base-600">
                {section.title}
              </Text>
              <div class="mt-4 text-sm tracking-tight  grid grid-cols-2 gap-12 text-base-700 border-base-200 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
                {section.categories.map((category) => (
                  <div class="flex flex-col justify-start gap-1">
                    <Text
                      tag="h3"
                      variant="textBase"
                      class="font-medium text-base-600"
                    >
                      {category.category}
                    </Text>
                    {category.links.map((link) => (
                      <a
                        class="text-base-500  hover:text-base-800"
                        href={link.href}
                      >
                        {link.label}
                      </a>
                    ))}
                  </div>
                ))}
              </div>
            </div>
          ))
        }
      </div>
    </Wrapper>
  </section>
</BaseLayout>
