---
import File from "@/components/fundations/icons/File.astro";
---

<div  class="pointer-events-none space-y-1">
  <div
    class="relative z-20 p-4 bg-white space-y-4"
  >
    <div class="flex items-center gap-2">
      <div
        class="flex items-center justify-center size-8 bg-base-50 text-base-500 rounded-md"
      >
        <File class="size-4" />
      </div>
      <div class="flex-1">
        <p class="text-xs font-medium text-base-600">Cloned File</p>
        <p class="text-[0.60rem] text-base-500">Created 3 days ago</p>
      </div>
    </div>
    <div>
      <p class="text-xs text-base-500">Clone #1</p>
      <p class="text-sm font-medium truncate text-base-800">
        /final-final-final.docx
      </p>
    </div>
    <div class="flex justify-end">
      <button class="text-xs font-medium text-base-600 hover:underline"
        >View Clone</button
      >
    </div>
  </div>
    <div
    class="relative z-20 p-4 bg-white space-y-4"
  >
    <div class="flex items-center gap-2">
      <div
        class="flex items-center justify-center size-8 bg-base-50 text-base-500 rounded-md"
      >
        <File class="size-4" />
      </div>
      <div class="flex-1">
        <p class="text-xs font-medium text-base-600">Cloned File</p>
        <p class="text-[0.60rem] text-base-500">Created 2 minutes ago</p>
      </div>
    </div>
    <div>
      <p class="text-xs text-base-500">Clone #2</p>
      <p class="text-sm font-medium truncate text-base-800">
        /final-final-final-final.docx
      </p>
    </div>
    <div class="flex justify-end">
      <button class="text-xs font-medium text-base-600 hover:underline"
        >View Clone</button
      >
    </div>
  </div>
  
</div>