---
// Assets
import { Image } from "astro:assets";
import Glass from "@/images/assets/glass1.jpg";
import LogoCloud from "@/components/assets/LogoCloud.astro";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Link from "@/components/fundations/elements/Link.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="standard" class="relative py-12">
    <div class="relative overflow-hidden min-h-200">
      <Image
        src={Glass}
        alt="Background Glass Image"
        width={800}
        height={800}
        loading="eager"
        decoding="async"
        class="absolute inset-0 object-cover object-center w-full max-h-200"
      />
      <div
        class="absolute inset-0 z-10 flex flex-col items-center justify-center p-8"
      >
        <Text
          tag="h2"
          variant="textXL"
          class="font-medium text-center text-white md:text-black"
        >
          Transform your assessment processes with Fluvial's proven platform. Discover how sophisticated questionnaires, flexible workflows, and document automation help advisory firms and enterprises conduct complex evaluations.
        </Text>
        <LogoCloud class="mt-12 invert md:invert-0" />
      </div>
    </div>
    <Link href="/contact" size="xl" variant="default" class="mt-auto">
      Request a Demo
    </Link>
  </Wrapper>
</section>
