---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import ChangelogEntry from "@/components/changelog/ChangelogEntry.astro";
// Content
import { getCollection } from "astro:content";
const allUpdatesUnsorted = await getCollection("changelog");
// Sort the posts in descending order by publication date (newest to oldest)
const allUpdates = allUpdatesUnsorted.sort(
  (a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate)
);
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pt-48 pb-8 lg:pt-82">
      <Text tag="h1" variant="displayLG" class="text-base-800">
        Follow our journey and keep track of us.
      </Text>

      <div class="flex flex-col pt-8 mt-8 border-t border-base-200 gap-8">
        {allUpdates.map((post) => <ChangelogEntry post={post} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
