---
const sections = [
  {
    title: "All pages",
    categories: [
      {
        category: "Landing Pages",
        links: [
          { label: "Landing Page One", href: "/landingpages/index-one" },
          { label: "Landing Page Two", href: "/landingpages/index-two" },
          { label: "Landing Page Three", href: "/landingpages/index-three" },
          { label: "About", href: "/infopages/about" },
          { label: "404", href: "/404" },
        ],
      },
      {
        category: "Integrations",
        links: [{ label: "Integrations", href: "/integrations/home" }],
        additional: [
          {
            category: "Jobs",
            links: [{ label: "Jobs Home", href: "/jobs/home" }],
          },
        ],
      },
      {
        category: "Forms",
        links: [
          { label: "Contact", href: "/forms/contact" },
          { label: "Login", href: "/forms/login" },
          { label: "Sign up", href: "/forms/signup" },
          { label: "Reset Password", href: "/forms/reset" },
          { label: "Coming Soon", href: "/infopages/coming-soon" },
        ],
      },
      {
        category: "Components",
        links: [
          { label: "All Features", href: "/components/all-features" },
          { label: "All Pricing Tables", href: "/components/all-pricing" },
        ],
      },
      {
        category: "System Pages",
        links: [{ label: "Style Guide", href: "/system/style-guide" }],
      },
    ],
  },
  {
    title: "Content collections",
    categories: [
      {
        category: "Blog",
        links: [
          { label: "Blog", href: "/blog/blog" },
          { label: "Blog Post", href: "/posts/1" },
          { label: "Tag Home", href: "/tags" },
          { label: "Tag Details", href: "/tags/Tailwind" },
          { label: "RSS", href: "/rss.xml" },
        ],
      },
      {
        category: "Customers",
        links: [
          { label: "Customers home", href: "/customers/home" },
          { label: "Case study", href: "/customers/1" },
        ],
      },
      {
        category: "Utility Pages",
        links: [
          { label: "Terms Of use", href: "/infopages/terms" },
          { label: "Privacy Policy", href: "/infopages/privacy" },
          { label: "DPA", href: "/infopages/privacy" },
        ],
      },
      {
        category: "Changelog",
        links: [
          { label: "Changelog Home", href: "/changelog/home" },
          { label: "Changelog Details", href: "/changelog/1" },
        ],
      },
      {
        category: "Support",
        links: [
          { label: "Help Center", href: "/helpcenter/home" },
          { label: "Article", href: "/helpcenter/1" },
        ],
      },
    ],
  },
];
---

<section>
  <div class="max-w-screen-xl px-8 py-24 mx-auto md:px-12 lg:px-32 space-y-24">
    {
      sections.map((section) => (
        <div>
          <p class="text-4xl font-semibold tracking-tighter md:text-6xl lg:text-5xl text-blue-950">
            {section.title}
          </p>
          <div class="grid grid-cols-2 gap-12 mt-10 pt-10 text-sm tracking-tight text-gray-700 border-t border-gray-200 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
            {section.categories.map((category) => (
              <div class="flex flex-col justify-start">
                <p class="font-mono text-base font-medium tracking-tighter uppercase text-blue-950">
                  {category.category}
                </p>
                {category.links.map((link) => (
                  <a class="mt-4 hover:text-blue-700" href={link.href}>
                    {link.label}
                  </a>
                ))}
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</section>
